p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

body {
    background-color: rgb(39, 39, 39);
}

textarea {
    color: black;
    background-color: rgb(74, 74, 74);
    border-radius: .8rem;
    color: lightgray;
}

input {
    color: darkgrey;
}

button {
    background-color: rgb(75, 75, 75);
    color: lightgray;
}